body{
    background-color: rgb(66,123,245 );
}
h1{
    color: rgb(204, 40, 11);
}

h2{
    color: yellow;
}
 
p{
    color: rgb(255,255,0);
    background-color: rgb(64,12,12);
}

button{
    color: chartreuse;
    background-color: crimson;
}